<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>To Do List</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <!-- <link rel="icon" type="image/x-icon" href="images/favicon.png" /> -->

    <nav class="navbar navbar-light" style="background-color: #8064A2;">
      <p class="navbar-brand" style="color: white;">CITY SEARCH</p>
    </nav>
  </head>
  
  <body>